apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
namePrefix: prod-
resources:
  - ./appproject.yaml
  # services
  - ./api.yaml
  # middlewares
  - ./postgres.yaml
  - ./neo4j.yaml
